html {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: normal .80em helvetica;
	background-image: url("paper.jpg"); 
	background-repeat: no-repeat;
    background-size: auto;
}

p {
	padding: 0 0 16px 0;
	line-height: 1.5em;
}

h1, h2 {
	font: normal 175% helvetica, sans-serif;
	color: #111;
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
}

ul {
	margin: 10px 0 20px 15px;
}

ul li {
	list-style-type: square;
	color: 800080;
	margin: 0 0 6px 0;
	padding: 0 0 4px 5px;
}

#header, #header-text, #background-image, #menubar, #site_content, #footer {
	margin-left: auto;
	margin-right: auto;
}

#header {
	width: 1000px;
	background: url(back.png) repeat-x; 
}

#header, #header_text {
	position: relative;
	top: 0px;
	left: 30px;
}

#header h1, #header h2 {
	font: normal 300% helvetica, sans-serif;
	border-bottom: 0;
	text-transform: none;
	margin: 0;
}

#header_text h1, #header_text h1 a {
	padding: 10px 0 0 0;
	color: #fffaf0;
	letter-spacing: 0.15em;
	text-decoration: none;
}

#header_text h2 {
	font-size: 130%;
	padding: 5px;
	color: #ffeecc;
}

#menubar {
	color: #000000;
	width: 1000px;
	height: 50px;
	padding: 20px 10px 10px 10px;
	margin: -30px 0 0 0;
	position: absolute;
	z-index: 1;
}

ul#menu {
	float: left;
	margin: 0;
}

ul#menu li {
	float: left;
	margin: 5px 0 0 0;
	padding: 0 0 0 6px;
	list-style: none;
}

ul#menu li a {
	letter-spacing: 0em;
	font: normal 105% helvetica, sans-serif;
	text-transform: uppercase;
	display: block;
	height: 20px;
	padding: 9px 22px 5px 16px;
	text-align: center;
	color: #4d004d;
	border: 0;
}

#site_content {
	width: 900px;
	background: #f8f8f8;
	overflow: hidden;
	opacity: 0.7;
    filter: alpha(opacity=50);
}

#content {
	text-align: left;
	width: 700px;
	float: left;
	padding: 20px 0 15px 30px;
}

#content ul {
	margin: 2px 0 22px 0;
}

#content ul li {
	list-style-type: square;
	margin: 0 0 6px 0;
	padding: 0 0 4px 25px;
	line-height: 1.5em;
}


.portrait {
    height: 80px;
    width: 30px;
}
#footer {
	width: 900px;
	height: 30px;
	padding: 20px 0 4px 0;
	text-align: center;
	background: #0000b3;
	color: #aaa;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-size: 90%;
}

#footer a {
	color: #b3b3ff;
	text-decoration: none;
}
